
.DS_Store
homework1_code/okun_hw1/.DS_Store
homework3_code/.DS_Store
homework3_code/Okun/46047h2015.txt
homework3_code/Okun/46047h2016.txt
homework3_code/Okun/KO_HW_3.mlx
homework3_code/Okun/KO_HW_3.pdf
homework3_code/Okun/KO_HW_4.mlx
homework3_code/Okun/KO_HW_4.pdf
class10_coding_github_exercise/Class10.asv
Manifest.toml
**.png